# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore development and local files
.env
.dev/
instance/

# Ignore version control files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore editor and IDE files
.vscode/
.idea/
*.swp
*~

# Ignore other build and package files
*.log
*.pid
*.sock
*.lock
*.sqlite
*.db
*.egg-info/
dist/
build/
