#map {
  width: 500px;
  height: 400px;
  margin: 0px auto 0px 5%;
}
 
.btn{
  width: auto;
  height: 40px;

/* haut | droit | bas | gauche */ 
  margin: 0% auto 10px 5%; 
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
}

.divRight{
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);  
  width: 50%;
}

table {
 border-collapse:collapse;
 width:30%;
 margin-left: 5%;
 margin-top: 5%;
 }
th, td {
 border:1px solid black;
 width:20%;
 }
td {
 text-align:center;
 }

 .container{
 border:1px solid black;
 background-color:rgb(161, 163, 162);
 width: 70%;
/* haut | droit | bas | gauche */ 
  margin: 5% auto 10px 2%; 
 }