<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Time Ranges</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
    integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
    crossorigin=""></script>

    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>

<div class="container">
  <button type="button" class="btn btn-light">Basic Annotation Tool</button>
    <div class="row">
        <div class="col-sm-6" style="position: relative;" >
          <div id="map">
            <div class="leaflet-control leaflet-bar leaflet-control" style="margin-left: 2%;margin-top: 17%; background-color: white; ">
              <a href="#" title="Zoom out" role="button" ><img width="20px" src="static/img/segment.png" alt=""></a>
              <a  href="#"  role="button" ><img width="20px" src="static/img/polygone.png" alt=""></a>
              <a href="#"  role="button" ><img width="20px" src="static/img/carre.png" alt=""></a>
              <a  href="#"  role="button" ><img width="30px" src="static/img/address.png" alt=""></a>
            </div> 
            <div class="leaflet-control leaflet-bar leaflet-control" style="margin-left: 2%;margin-top: 2%; background-color: white; ">        
              <a  href="#" role="button" ><img width="20px" src="static/img/edit.png" alt=""></a>
              <a  href="#" role="button" ><img width="20px" src="static/img/delete.png" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 divRight">
          <h4>If you want to insert a new label,  click on the <br> button  below to see the input form.</h4>
          <button type="button" class="btn" id="insert" onclick="functionInsert()">Insert new label</button><br><br>
         <form action="" id="form" style="display: none;">

            <table >
              <tr> 
                <td> shape</td>
                <td> <input type="text"></td>
              </tr>
              <tr>
                <td>label</td>
                <td> <input type="text"> </td>
              </tr>
            </table><br><br>

            <button type="button" class="btn">Submit</button><br><br><br>
         </form>       
          <button type="button" class="btn">show all labels </button>
        </div>
    </div>
   
</div>
<script>
    // bornes pour empecher la carte  de "dériver" trop loin...
    var northWest = L.latLng(90, -180);
    var southEast = L.latLng(-90, 180);
    var bornes = L.latLngBounds(northWest, southEast); 
    // Initialisation de la couche   

    var map = L.map('map').setView([51.505, -0.09], 2);
     L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
         attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);
    
    // Initialisation de la carte et association avec la div
    var map = new L.Map('map', {
        center: [48.858376, 2.294442],
        minZoom: 1,
        maxZoom: 1,
        zoom:1,
        maxBounds: bornes
    });
    
 
    // Juste pour changer la forme du curseur par défaut de la souris
    document.getElementById('map').style.cursor = 'crosshair'

    // Initilisation d'un popup
    var popup = L.popup();
    // Fonction de conversion au format GeoJSON
    function coordGeoJSON(latlng,precision) { 
        return '[' +
        L.Util.formatNum(latlng.lng, precision) + ',' +
        L.Util.formatNum(latlng.lat, precision) + ']';
    }
    // Fonction qui réagit au clic sur la carte (e contiendra les données liées au clic)
    function onMapClick(e) {
        popup.setLatLng(e.latlng)
        .setContent("BONJOUR ET BIENVENUE CHOISISSEZ UNE ACTION POUR CONTINUER !")
        .openOn(map);
    }
    // Association Evenement/Fonction handler
    map.on('click', onMapClick);

    function functionInsert()
    {
      var divForm = document.getElementById("form");
      var divInsert = document.getElementById("insert");
      if(divForm.style.display == "none"){
        divForm.style.display = "block";
        divInsert.style.background = "Teal"

      }
      else {
        divForm.style.display = "none";
        divInsert.style.background = "white"

      }
    }

</script>

</body>
</html>