{% extends 'base.html' %}

{% block content %}
<html>

  <head>
    <title>{{ title }}</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      #weather {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">{{data["city"]["name"]}} weather</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to our Weather App! Get accurate and up-to-date weather information
           at your fingertips. With our app, you can easily check the current temperature, weather conditions, 
           and forecast for any location around the globe. Stay prepared and plan your day accordingly with our 
           reliable weather data. Whether you're traveling, planning outdoor activities, or just curious about 
           the weather, our app has got you covered. Experience a user-friendly interface, beautiful weather icons, 
           and detailed forecasts. Start exploring the world of weather today with our Weather App!"</p>
        
      </div>
    </div>
    
    <div class="container">
      <table>
        <tr>
          <th>Time</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Weather</th>
          <th>Wind</th>
        </tr>
        {% for item in data["list"] %}
        <tr>
          <td>{{ item["dt_txt"] }}</td>
          <td>{{ item["main"]["temp"] }}°C</td>
          <td>{{ item["main"]["humidity"] }}%</td>
          <td><div id="weather"><img src="https://openweathermap.org/img/wn/{{ item["weather"][0]["icon"] }}@2x.png"></img> {{ item["weather"][0]["main"] }}</div></td>
          <td>{{ '%.2f' % (item["wind"]["speed"]*3.6) }} km/h ({{ item["wind"]["deg"] }} deg)</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>

</html>

{% endblock %}